body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.spinner {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 40%;
}

.buttonDeleteAll {
  float: right;
  margin-bottom: -100%;
}

.inputGroup {
  width: 100%;
  margin-top: 12px
}

.lineThrough{
  text-decoration: line-through;
}

.white {
  color: white;
}

.marginBotton{
  margin-bottom: 3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
